div {
  position: relative;
  background-color: antiquewhite;
  /* top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px; */

  inset: 10px;
}

ul {
  position: relative;
  background-color: brown;
}
.css-element {
  background-color: aquamarine;
  position: absolute;
  top: 5px;
  /* bottom: 5px; */
  left: 5px;
  /* right: 5px; */

  /* inset: 5px; */
}