body {
  background-color: #0D1A2D;
  font-family: Arial, Helvetica, sans-serif;
}

.nft-card {
  height: 580px;
  width: 320px;
  background-color: #15273F;
  border-radius: 15px;
  padding: 25px;

  position: absolute;
  inset: 0;
  margin: auto;

  /* box-shadow: 10px 10px 30px 20px rgba(0, 0, 0, 0.2); */
  /* box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2); */

/* box-shadow: 0px 8px 0px white, 
        -10px 8px 0px white, 10px 8px 0px white; */

  /* all four sides shadow */
  /* box-shadow: 0 0 5px 10px #fff; */

box-shadow: -15px 25px 15px 10px rgba(0, 0, 0, 0.2),
	          15px 25px 15px 10px rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
  border-radius: 10px;
}

h2 {
  color: white;
}

.description {
  color: #768AAD;
  font-size: 20px;
}

.units {
  /* background-color: bisque; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left-sec {
  display: flex;
  align-items: center;
  gap: 5px;
}
.left-sec img {
  height: 20px;
  width: 15px;
  display: flex;
}
.left-sec p {
  color: #26DBDB;
}

.right-sec {
  display: flex;
  align-items: center;
  gap: 5px;
}
.right-sec img {
  height: 20px;
  width: 15px;
  display: flex;
}
.right-sec p {
  color: #809BC2;
}

.divider {
  /* background-color: #809BC2; */
  /* height: 1px; */
  border-bottom: 1px solid #768AAD;
  width: 100%;
  margin: 10px 0;
}

/* hr {
  background-color: #809BC2;
} */

.footer-info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-info img {
  vertical-align: middle;
  height: 35px;
  width: 35px;
  border: 1px solid white;
  /* margin-top: 10px; */
  border-radius: 50%;
}
.footer-info p {
  color: #465975;
  font-weight: 600;
}
span {
  color: #D0E1F3;
}