/* * {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
} */

html, body {
  height: 100%;
  margin: 0;
  /* background-color: brown; */
}

main {
  /* background-color: bisque; */
  min-height: 100%;
  max-width: 100%;
  /* height: 100vh;
  width: 100vw; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  height: 500px;
  width: 400px;
  border-radius: 15px;
  border: 1px solid black;
}

.card-container img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.order-summary {
  text-align: center;
}



