body {
  background-color: rgb(213,225,239);
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  height: 520px;
  width: 334px;
  background-color: white;
  border-radius: 20px;
  margin: 70px auto;
  padding: 15px;
}
.card-img img {
  width: 100%;
  border-radius: 10px;
}
.card-content {
  /* background-color: bisque; */
  padding: 0 15px 0 15px;
  text-align: center;
}
.card-content p {
  color: rgb(141,146,152);
}